@tailwind base;
@tailwind components;
@tailwind utilities;

html, body,
:root {
    height: 100%;
}

/* add the code bellow */
@layer utilities {
    @layer responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

  .leaflet-bottom,.leaflet-control,
  .leaflet-pane,.leaflet-top {
    z-index:0 !important;
  }

  .rdrMonth {
    width: 100% !important;
    @apply dark:text-white dark:bg-gray-900
  }

  .rdrCalendarWrapper{
    width: 100% !important;
    @apply rounded-xl text-xl dark:text-white dark:bg-gray-900
  }

  .rdrPprevButton{
    @apply dark:bg-gray-800 text-white
  }

  .rdrNextButton{
    @apply dark:bg-gray-800 text-white
  }

  .rdrDayNumber span{
    @apply dark:text-gray-400
  }

  .rdrDayDisabled {
    @apply dark:bg-gray-700 rounded-md
  }

  .rdrDayDisabled .rdrDayNumber span {
    @apply dark:text-gray-300
  }

.rdrMonthAndYearPickers select {
    @apply dark:text-white
}

.rdrMonthPicker option, .rdrYearPicker option{
  @apply dark:text-white dark:bg-gray-700 hover:bg-opacity-0
}

